<div id="enlaces">
  <%= link_to 'Editar', edit_parametro_path(@parametro) %>
  <%= link_to 'Volver 칩 listado de par치metros', parametros_path %>
  <%= link_to 'Volver 칩 inicio', '/' %>
</div>

<div id="paxina">
  <h2> Datos </h2>

  <div id="datos">
    <p><b>Nome: </b><%= @parametro.nome %></p>
    <p><b>Valor: </b><%= @parametro.valor %></p>
    <p><b>Descrici칩n: </b><%= @parametro.descricion %></p>
  </div>
</div>