<div id="enlaces">
  <%= link_to 'Engadir un novo formato', new_formato_path %>
  <%= link_to 'Volver รณ inicio', "/" %>
</div>

<% if flash[:notificacion] %>
  <div id="notificacion"><%= flash[:notificacion]%></div>
<% end %>

  <div id="paxina">

  <h2> Listado de Formatos </h2>

  <div id="datos">
    <% if @formatos.empty? %>
      <p> Non existen formatos!</p>
    <% else %>
      <table id=tabla>
        <tr>
          <th> Nome </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        <% @formatos.each do |formato| %>
        <tr>
          <td> <%= formato.nome %> </td>
          <td>
            <%= link_to 'Amosar', {:controller => 'formatos', :action => 'show', :id => formato.id}, :method => :get%>
            <%= image_tag 'amosar3.png', :size => '20x20', :style => 'vertical-align: bottom;' %>
          </td>
          <td>
            <%= link_to 'Editar', {:controller => 'formatos', :action => 'edit', :id => formato.id}, :method => :get %>
            <%= image_tag 'editar3.png', :size => '20x20', :style => 'vertical-align: bottom;' %>
          </td>
          <td>
            <%= link_to 'Eliminar', formato, method: :delete, data: { confirm: 'Seguro?' } %>
            <%= image_tag 'eliminar3.png', :size => '20x20', :style => 'vertical-align: bottom;' %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>